@import url(./colors.css);
@import url(./navbar.css);

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--main-grey) !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.required::after {
  content: "*";
}

.pointer {
  cursor: pointer;
}

.body1 {
  font-size: 14px;
}

.body2 {
  font-size: 12px;
}

.weight-700 {
  font-weight: 700 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.bg-main {
  background-color: var(--main-bg-color);
}

.caption {
  font-size: 14px !important;
  font-family: "Poppins", sans-serif !important;
}

.caption2 {
  font-size: 12px !important;
  font-family: "Poppins", sans-serif !important;
}

.caption3 {
  font-size: 10px !important;
  font-family: "Poppins", sans-serif !important;
}

.light-blue {
  color: var(--lightBlue-color);
}
